.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: left;}
.css_cpf_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cpf_grid_line {vertical-align: top;text-align: left;}
.css_rg_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rg_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
