.css_pagamento_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pagamento_id_grid_line {vertical-align: top;text-align: right;}
.css_usuario_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_nome_grid_line {vertical-align: top;text-align: left;}
.css_planousuario_tipo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_planousuario_tipo_grid_line {vertical-align: top;text-align: right;}
.css_pagamento_datavencimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pagamento_datavencimento_grid_line {vertical-align: top;text-align: center;}
.css_pagamento_datapagamento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pagamento_datapagamento_grid_line {vertical-align: top;text-align: center;}
.css_pagar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_pagar_grid_line {text-align: center;}
