.css_u_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_u_nome_grid_line {vertical-align: top;text-align: right;}
.css_u_rg_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_u_rg_grid_line {vertical-align: top;text-align: right;}
.css_u_cpf_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_u_cpf_grid_line {vertical-align: top;text-align: right;}
.css_pla_tipo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pla_tipo_grid_line {vertical-align: top;text-align: right;}
.css_pag_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pag_valor_grid_line {vertical-align: top;text-align: right;}
.css_pag_datavencimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pag_datavencimento_grid_line {vertical-align: top;text-align: center;}
.css_pag_datapagamento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pag_datapagamento_grid_line {vertical-align: top;text-align: center;}
.css_atraso_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_atraso_grid_line {color:#FF0000;text-align: center;}
